@use "src/styles/vars" as v;
.slideFive {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    background-size: cover;
    margin-bottom: 30%;
    font-family: 'NewsReader';
    &__contentForm{
        max-width: 70%;
        text-align: center;
        margin-bottom: 5rem;
        &__title{
            margin-top: 2rem;
            font-size: 3rem;
            font-weight: 500;
            color : #000;
            text-transform: uppercase;
            margin-bottom: 6rem;
            letter-spacing: 1.2rem;
        }
        &__text{
            font-weight: 300;
            font-size: 1.2rem;
            color : #333;
            line-height: 1.5rem;
            text-align: justify;
            &__link{
                color:#b30b16;
                cursor: none;
            }
        }
    }
    &__contain{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        border-left: 1px solid #333;
        &__contactInfos{
            width: 50%;
            display: flex;
            flex-direction: column;
            &__box{
                position: relative;
                padding : 20px 0;
                display: flex;
                &__icon{
                    min-width: 60px;
                    height: 60px;
                    background: #fff;
                    border:#333 solid 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 22px;
                }
                &__text{
                    display: flex;
                    margin-left: 20px;
                    font-size: 16px;
                    color: #333;
                    flex-direction: column;
                    font-weight: 300;
                    &__title{
                        font-weight: 500;
                        color: #b30b16;
                    }
                }
            }
        }
        &__contactForm{
            width: 40%;
            padding: 40px;
            background: #333;
            min-height: 100%;
            color:white;
            cursor:none;
            &__title{
                font-size: 1.4rem;
                text-transform: uppercase;
                margin-bottom: 2rem;
                color: #b30b16;
                font-weight: 500;
            }
            &__inputBox{
                position: relative;
                width: 100%;
                margin-top: 10px;
                padding: 5px;
                font-size: 16px;
                margin:10px ;
                border : none;
                margin-bottom: 0.5rem;
                outline: none;
                resize: none;
                color:#333;
                &__formInput{
                    width: 100%;
                    padding: 5px 0;
                    border : none;
                    border-bottom: 2px solid #fff;
                    outline:none;
                    resize: none;
                    background: #333;
                    color:#eee
                }
                &__span{
                    left:0;
                    padding: 5px 0;
                    font-size: 1.2rem;
                    margin: 0.5rem 0;
                    pointer-events: none;
                    transition: 0.5s;
                    color: #b30b16;
                    font-size: 0.8rem;
                }
            }
            &__inputButton{
                margin: 1rem 0;
                &__message{
                    width: 30%;
                    background: #b30b16;
                    color:#fff;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    cursor: none;
                }
            }        
        }
    }
    &__footer{
        width: 70vw;
        margin: 2rem 0 1rem 0;
        display: flex;
        justify-content: space-between;
        
    }
}

  .Toastify__toast--default {
    background: #333;
    color: #fff;
 }
// MEDIA QUERIES 

@media (max-width: 1200px) {
    .slideFive{
        width: 100%;
        &__contain{
            width: 90%;
            &__contactForm{
                width: 45%;
            }
        }
        &__footer{
            width: 90%;
            font-size: 0.7rem;
            bottom : 0;
        }
        margin-bottom: 0;
    }
}
@media (max-width: 768px) {

    .slideFive{
        margin-bottom: 0;
        &__contain{
            display: flex;
            flex-direction: column;
            &__contactInfos{
                width: 90%;
            }
            &__contactForm{
                width: 100%;
            }
        }
        &__contentForm{
            &__title{
                font-size: 2.4rem;
                letter-spacing: 0;
                margin: 2rem 0;
            }
        }
        
    }
 }