@use "src/styles/vars" as v;
.slideAbout{
    font-family: 'NewsReader';
    background: black;
    min-height: 100vh;
    min-width: 330vw;
    display: flex;
    &__section{
        position: relative; 
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-left: 5%;
        &__title{
            position: fixed;
            // might be useful for responsive
            // top 50% left 50%
            font-size: 16em;
            font-weight: 700;
            color : transparent;
            -webkit-text-stroke: 1px #555;
            z-index: 2;
        }
        &__title1{
            transform: translate(-10%,-90%);
        }
        &__title2{
            transform: translate(-20%,110%);
        }
        &__title3{
            transform: translate(-20%,-100%);
        }
        &__title4{
            transform: translate(-10%,100%);
        }
        &__box{
            &__contains{
                position: relative;
                width: 1000px;
                display: flex;
                justify-content: center;
                align-items: center;
                &__imgBx{
                    position: relative;
                    width: 700px;
                    height: 400px;
                    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
                    object-fit: contain;
                    &__pic{
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &__image1{
                    margin-top: 0%;
                }
                &__image2{
                    margin-top: 20%;
                }
                &__image3{
                    margin-top: -10%;
                }
                &__image4{
                    margin-top: 10%;
                }
                &__contentt{
                    position: absolute;
                    right:0;
                    padding: 40px;
                    background: #555; 
                    margin-bottom: 2rem;
                    z-index: 1;
                    width: 500px;
                    height:300px;
                    color: #fff;
                    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
                    transform: translate(0%,0%);
                    &__title{
                        font-size : 1.3rem;
                        margin-bottom: 1rem;
                        text-align: center;
                        color : rgb(26, 26, 26);
                    }
                    &__list{
                        &__item{
                            margin-bottom: 1rem;
                            &__a{
                                color : black;
                            }
                        }
                    }
                }
                &__content1{
                    transform: translate(-140%,70%);
                    height: 350px;
                }
                &__content2{
                    transform: translate(-140%,-50%);
                }
                &__content3{
                    transform: translate(-120%,70%);
                }
                &__content4{
                    transform: translate(-140%,-70%);
                }
            }
        }
    }
}
.Typewriter__wrapper{
    line-height: 1rem;
    text-align: justify;
}
.Typewriter__wrapper >a{
    color : #b30b16;
    cursor: none;
}
.fa-angle-right{
    color : #b30b16;

}


@media (max-width: 1200px) {

   .slideAbout{
       display: none;
   }
}
  