@use "src/styles/vars" as v;
body {
    margin: 0;
    padding: 0;    
    cursor: none;
}
.outer-wrapper {
    padding-right: 10vh;
    width: 100vh;
    height: 100vw;
    // transform : rotate(-90deg) translateX(-100vh);
    // transform-origin: top left;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &__wrapper{
    //     display: flex;
    // flex-direction: row;
    // transform : rotate(90deg) translateY(-100vh);
    // transform-origin: top left;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // position: absolute;
    }
}

@media (min-width: 1200px) {
    body {
        margin: 0;
        padding: 0;    
        cursor: none;
    }
    .outer-wrapper {
        padding-right: 10vh;
        width: 100vh;
        height: 100vw;
        transform : rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &__wrapper{
            display: flex;
            flex-direction: row;
            transform : rotate(90deg) translateY(-100vh);
            transform-origin: top left;
            overflow-y: scroll;
            overflow-x: hidden;
            position: absolute;
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
}
@media (max-width: 1200px) {
    .outer-wrapper{
        max-width :100%;
        width: 100%;
        padding-right: 0;
    }
}
@media (max-width: 768px) {
    .outer-wrapper{
        width: 100vw;
        padding-right: 0;
    }
}