@use "src/styles/vars" as v;
body {
    margin: 0;
    padding: 0;    
    cursor: none;
}
.outer-wrapper {
    padding-right: 10vh;
    width: 100vh;
    height: 100vw;
    transform : rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &__wrapper{
        display: flex;
    flex-direction: row;
    transform : rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    }
}
::-webkit-scrollbar {
    display: none;
}
