@use "src/styles/vars" as v;
#first__slide {
    font-family: 'Newsreader';
}
.presentation {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    &__subtitle {
        font-size: 2rem;
        letter-spacing: 0.5rem;
        color : #ccc;
        text-transform: uppercase;
        text-align: center;
    }
}
.container__card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    
    
}
.card {
    position: relative;
    width: 40%;
    height: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 2s;
    margin-bottom: 8rem;
}

.circle {
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
}

.circle::before {
    content : '';
    position: absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: circle(120px at center);
    transition: 2s;
    margin-bottom: 20%; 
}

.card:hover .circle:before {
    background: rgb(168, 5, 5);
    clip-path: circle(600px at center);
}

.picture {
    position: absolute;
    top : 30%;
    left : 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: auto;
    pointer-events: none;
    transition: 2s;
}

.card:hover .picture {
    left : 80%;
    height: 500px;
}

.card:hover .content {
    left : 0;
    opacity: 1;
    visibility: visible;
}

.content {
    position: relative;
    width : 50%;
    left : 20%;
    padding: 5px 20px 20px 40px;
    transition: 2s;
    opacity: 0;
    color : #FBFBFD;
    &__title{
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-transform: uppercase;
    }
    &__text {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    &__button {
        font-size: 1.2rem;
        position: relative;
        color :black;
        padding: 10px 20px;
        background: #FBFBFD;
        margin-top: 10px;
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        align-items: center;

    }
}
