@use "src/styles/vars" as v;
.slide__three{
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
}
.introduction {
    width: 80%;
}
.introduction span {
    text-decoration:line-through;
}
.container {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
}

.clip {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.clip1 {
    background: rgb(245, 143, 143);
    background-size:cover;
    clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}
   
.clip2 {
    background: rgb(119, 160, 214);
    background-size: cover;
    clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}
.clip3 {
    background: rgb(223, 184, 100);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}
.container:hover .clip {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

}
.container .clip:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}
.content {
    position: absolute;
    left:0;
    width: 70%;
    padding: 20px;
    background: #fff;
    opacity: 0;
    transition: 1s;


}

.container .clip:hover .content {
    bottom:0;
    opacity: 1;
}
.clip1 h4 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 4rem;
}
.clip2 h4 {
    text-align: right;
    margin-right:10%;
    font-size: 4rem;
}
.clip3 h4{
    text-align: right;
    writing-mode: vertical-lr;

    font-size: 4rem;
}