.navigation__responsive{
    position: relative;
    z-index: 9;
    display: flex;
    &__items{
        position: absolute;
        width: 60%;
        display: flex;
        flex-direction: column;
        background: black;
        opacity: 0.9;
        color: white;
        height: 100vh;
    }
    &__item{
        padding: 2rem;
        text-transform: uppercase;
    }
    &__fakediv{
        position: absolute;
        min-width: 40%;
        background: transparent;
        height: 100vh;
        right: 0;
    }
    &item:hover{
        color: black;
        background-color: white;
    }
}
.svg-inline--fa.fa-w-14{
    height: 40px;
    width: 40px;
    padding: 10px;
    color: white;
    height: 100%;
    background-color: black;
}

@media (min-width: 1200px) {

    .navigation__responsive{
        display: none;
    }
 }