.slideAboutResponsive{
    padding: 5rem 0; 
    font-family: 'NewsReader';
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    &__section{
        margin: 0 auto;
        &__title{
            font-size: 7rem;
            margin-bottom: 5rem;
            font-weight: 700;
            color : transparent;
            -webkit-text-stroke: 1px rgb(212, 211, 211);
            z-index: 2;
            text-align: center;
            transform: translate(50px,-30px);
        }
        &__box{
            width: 100%;
            &__contains{
                &__imgBx{
                    margin: 0  auto;
                    &__pic{
                        width: 70%;
                        height: 500px;
                        object-fit: cover;
                    }
                    &__pic1{
                        transform: translate(10%,0%);
                    }
                    &__pic2{
                        transform: translate(35%,0%);
                    }
                    &__pic3{
                        transform: translate(10%,0%);
                    }
                }
                &__content1{
                    transform: translate(30%,-35%);
                }
                &__content2{
                    transform: translate(-20%,-40%);
                }
                &__content3{
                    transform: translate(30%,-35%);
                }
                &__content4{
                    transform: translate(-20%,-40%);
                }
                &__contentt{
                    font-size: 1rem;
                    line-height: 1.5rem;
                    margin: 0 auto;
                    padding: 40px;
                    background: rgb(255, 255, 255); 
                    margin-bottom: 2rem;
                    z-index: 1;
                    width: 50%;
                    height:50%;
                    color: rgb(65, 65, 65);
                    &__title{
                        font-size : 2rem;
                        margin-bottom: 2rem;
                        text-align: center;
                        color : rgb(26, 26, 26);
                    }
                    &__list{
                        &__item{
                            margin-bottom: 1rem;
                            &__span{
                                text-decoration: line-through;
                            }
                        }
                        &__item a{
                            color: #b30b16;
                        }
                    }
                }
            }
        }
    }
}
.Typewriter__wrapper{
    line-height: 1rem;
    text-align: justify;
}
.Typewriter__wrapper >a{
    color : #b30b16;
    cursor: none;
}
.fa-angle-right{
    color : #b30b16;

}

@media (max-width: 768px) {

    .slideAboutResponsive{
        &__section{
            min-width: 90%;
            &__title{
                font-size: 4rem;
                transform: translate(0,-10%);
            }
            &__box{
                &__contains{
                    &__imgBx{
                        &__pic{
                            display: block;
                            transform: translate(0,0);
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                    &__contentt{
                        transform: translate(0,0);
                        width: 100%;
                    }
                }
            }
        }
    }
 }
 
@media (min-width: 1200px) {

    .slideAboutResponsive{
        display: none;
    }
 }