.navigation {
    font-family: 'NewsReader';
    display: flex;
    background-color: black;
    color: white;
    text-transform: uppercase;
    position: fixed;
    font-size: 1.1rem;
    min-width: 100vw;
    height: 60vh;
    left:0;
    cursor: none;
    transform : rotate(90deg) translateY(-11vh);
    //change translatey for responsive
    transform-origin: top left;
    z-index: 10;
    &__item {
        position: relative;
        display: flex;
        list-style: none;
        margin: 3rem 3rem 3rem 4rem;
        cursor: none;
        padding-top: 0.5rem;
        &__icon{
            margin : 2.8rem 0 0 0;
            padding-left : 2rem;
        }
    }
     &__item:hover{
       border-top: white 2px solid;
    }  
}
.svg-inline--fa.fa-w-16 {
    width: 2rem;
}

.fa-times-circle{
    height: 40px;
            width: 40px;
}
@media (max-width: 767px) {
   
}
  